Package: com.example.fileeditor
Name: FileEditor
Version: 1.0
Architecture: iphoneos-arm
Description: A simple file editor for iOS 6 devices
Maintainer: YourName
Author: YourName
Section: Tweaks
Depends: mobilesubstrate
